<h1>Editing Schedule Location</h1>

<%= render 'form', schedule_location: @schedule_location %>

<%= link_to 'Show', location_schedule_location_path %> |
<%= link_to 'Back', location_schedule_locations_path %>
